body {
  background-color: #343045;
  background-size: cover;
  background-attachment: fixed;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serifF;
}
.avatar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.avatar-name {
  height: 46px;
  padding-left: 20px;
  background-image: linear-gradient(#9d94c9, #8176af);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-stretch: 75%;
  font-weight: 200;
  margin-top: 10px;
  font-size: 40px;
}

.links a {
  text-decoration: none;
  color: white;
  width: 46px;
  height: 15px;
  padding: 20px;
  font-weight: bold;
}

.links a:hover {
  background-image: linear-gradient(to right, #c0b7e8, #8176af);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}

.container {
  max-width: 90%;
  margin: auto;
}

.join {
  margin-left: 40px;
  background-image: linear-gradient(to right, #8176af, #c0b7e8);
  border: none;
  color: #343045;
}

.contact {
  background-color: transparent;
  border: 2px solid white;
}

button {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

nav button {
  width: 154px;
  height: 48px;
  color: white;
  border-radius: 30px;
}

button:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.forAll {
  color: white;
  font-size: 50px;
  width: 490px;
  line-height: 1.5;
}

.extra {
  background-image: linear-gradient(to right, #c0b7e8, #8176af);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.extra-virtual {
  background-image: linear-gradient(to right, #8176af, #c0b7e8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.maskText {
  color: white;
  width: 470px;
  height: 72px;
  margin-top: 50px;
  margin-bottom: 100px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 100;
}

.yourWorld {
  color: #343045;
  background-image: linear-gradient(to right, #8176af, #c0b7e8);
  border: none;
  width: 214px;
  height: 48px;
  border-radius: 100px;
}

.mask-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.two-elements {
  display: flex;
  justify-content: center;
  text-align: cener;
  align-items: center;
  margin-left: -160px;
}

.mask {
  filter: drop-shadow(0px 0px 25px #000000);
}

.arrow {
  margin-left: 20px;
}

.h3-connect {
  color: white;
  font-size: 20px;
}

.text-connect {
  color: white;
  font-weight: 100;
}

.block-connect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 2;
  height: 120px;
}

.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  background-image: linear-gradient(to right, #211e2e, #3a3456, #211e2e);
  border-radius: 100px;
  padding: 20px 60px 20px 60px;
}

.img-connect {
  margin-right: 15px;
}

.extra-block {
  border-left: 1px solid #c0b7e8;
  border-right: 1px solid #c0b7e8;
  padding: 0 150px 0px 150px;
}

.intro-arrow {
  display: flex;
  justify-content: space-around;
}

.intro-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.extra-h2 {
  color: white;
  line-height: 1.5;
  font-weight: 100;
  letter-spacing: 1.5px;
  width: 250px;
  font-size: 35px;
}

.extra-long-text {
  color: white;
  width: 680px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 40px;
}

.extra-intro {
  font-weight: bold;
}

.long-arrow {
  margin-top: 30px;
}

.man-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.man-paragraph {
  margin-top: 45px;
}

.card-button {
  width: 154px;
  margin-top: 50px;
}

.card-head {
  color: white;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1.2px;
  border-bottom: 1px solid #c0b7e8;
  width: 160px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.one-card {
  text-align: center;
  background-image: radial-gradient(#433d60, #211e2e);
  width: 330px;
  height: 511px;
  padding: 30px;
  border-radius: 40px;
}

.card-text {
  color: white;
  width: 290px;
  height: 57px;
  line-height: 1.5;
  font-weight: 100;
  text-align: left;
  margin-top: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.card-img {
  margin-bottom: 20px;
}

.techno-h2 {
  margin: 0 auto;
  width: 630px;
  padding-top: 120px;
}

.techno {
  background-image: url(/public/images/blur-vr.png);
  text-align: center;
  height: 303px;
  border-radius: 200px;
  margin-top: 140px;
}

.techno-button {
  margin-top: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-image: linear-gradient(to right, #8176af, #c0b7e8);
}

.techno-img {
  padding-top: 5px;
}

.companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.build-h2 {
  width: 321px;
}

.block-circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
}

.h1-circle {
  color: #343045;
  padding-top: 40px;
  font-size: 70px;
  width: 159px;
  height: 159px;
  background-image: linear-gradient(to right, #c0b7e8, #8176af);
  text-align: center;
  border-radius: 200px;
}

.text-circle {
  color: white;
  width: 120px;
  font-weight: bold;
  line-height: 1.5;
}

.circles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}

.extraText {
  width: 110px;
}

.img-circle {
  margin-bottom: 25px;
}

.h2-reg {
  color: white;
  font-weight: bold;
}

.h4-reg {
  font-weight: 100;
  color: white;
}

.registration {
  background-image: radial-gradient(#433d60, #211e2e);
  border-radius: 20px;
  text-align: center;
}

input{
  outline: none;
  width: 45%;
}
